name: Terraform plan (infra)

on:
  pull_request:
    branches:
      - main
    paths:
      - "infra/**"
  workflow_dispatch: {}

permissions:
  id-token: write
  contents: read

env:
  AWS_REGION: us-east-1
  TF_WORKDIR: infra
  TF_ROLE_ARN: arn:aws:iam::097635932419:role/rusets-portfolio-gha-role

jobs:
  plan:
    runs-on: ubuntu-latest

    concurrency:
      group: rusets-portfolio-infra-plan-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.TF_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform init
        working-directory: ${{ env.TF_WORKDIR }}
        run: terraform init -input=false

      - name: Terraform validate
        working-directory: ${{ env.TF_WORKDIR }}
        run: terraform validate

      - name: Terraform plan
        working-directory: ${{ env.TF_WORKDIR }}
        run: terraform plan -input=false -no-color -out=tfplan

      - name: Upload tfplan artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: ${{ env.TF_WORKDIR }}/tfplan
